{% load staticfiles %}
{% load mathfilters %}
<!DOCTYPE html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <meta charset="UTF-8">
    <title>Eagle Financial Services</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">Welcome!</div>
                <div class="panel-body">
                    Eagle Financial Services, your Midwest Financial Services Partner.
                </div>
            </div>
        </div>
    </div>
</div>

<p><a class="btn btn-primary" href="{% url 'portfolio:customer_list' %}"
                                                  role="button">Customer List</a></p>


<div class="row">
    <h2 style="padding-left: 15Px">Stocks Investments</h2>
</div>
<div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr class="bg-info">

            <th>Cust ID</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Initial Stock Price</th>
            <th>Intitial Stock Value</th>
            <th>Purchase Date</th>
            <th>Current Stock Price</th>
            <th>Current Stock Value</th>

        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.customer }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td align="right">{{ stock.shares }}</td>
                <td align="right">{{ stock.purchase_price }}</td>
                <td align="right">{{ stock.initial_stock_value }}</td>
                <td>{{ stock.purchase_date }}</td>
                <td align="right">{{ stock.current_stock_price }}</td>
                <td align="right">{{ stock.current_stock_value }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div class="row">
    <h2 style="padding-left: 15Px">Stock Overview</h2>
</div>

<div>
    <table class="table table-bordered table-hover"; style="width: 50%">
        <thread>
        <tr class="bg-info">
            <th>Initial Stocks</th>
            <th>Current Stocks</th>
            <th>Stock Result</th>
        </tr>

        </thread>

        <tbody>
        <tr>

            <td align="right">{{ sum_of_initial_stock_value }}</td>
            <td align="right">{{ sum_current_stocks_value }}</td>
            <td align="right">{{ sum_current_stocks_value | sub:sum_of_initial_stock_value }}</td>

        </tr>

        </tbody>
    </table>

</div>


<div class="row">
    <h2 style="padding-left: 15Px">Investments Information</h2>
</div>
<div>
    <table class="table table-bordered table-hover">
        <thread>
            <tr class="bg-info">
                <th>Cust ID</th>
                <th>Category</th>
                <th>Description</th>
                <th>Acquired Value</th>
                <th>Acquired Date</th>
                <th>Recent Value</th>
                <th>Recent Date</th>
                <th>Results</th>

            </tr>
        </thread>

        <tbody>
        {% for investment in investments %}
            <tr>
                <td>{{ investment.customer }}</td>
                <td>{{ investment.category }}</td>
                <td>{{ investment.description }}</td>
                <td align="right">{{ investment.acquired_value }}</td>
                <td>{{ investment.acquired_date }}</td>
                <td align="right">{{ investment.recent_value }}</td>
                <td>{{ investment.recent_date }}</td>
                <td align="right">{{ investment.results_by_investment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div class="row">
    <h2 style="padding-left: 15Px">Investment Overview</h2>
</div>

<div>
    <table class="table table-bordered table-hover"; style="width: 50%" >
        <thread>
        <tr class="bg-info">
            <th>Initial Investments</th>
            <th>Current Investments</th>
            <th>Investment Results</th>
        </tr>

        </thread>

        <tbody>
        <tr>

            <td align="right">{{ sum_acquired_value.acquired_value__sum }}</td>
            <td align="right">{{ sum_recent_value.recent_value__sum }}</td>
            <td align="right">{{ sum_recent_value.recent_value__sum | sub:sum_acquired_value.acquired_value__sum }}</td>

        </tr>

        </tbody>
    </table>

</div>


<div class="row">
    <h2 style="padding-left: 15Px">Mutual Fund Investments</h2>
</div>
<div>
    <table class="table table-bordered table-hover">
        <thread>
            <tr class="bg-info">
                <th>Cust ID</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Purchase Price</th>
                <th>Initial Purchase Value</th>
                <th>Purchase Date</th>
                <th>Current Mutual Fund Price</th>
                <th>Current Mutual Fund Value</th>

            </tr>
        </thread>

        <tbody>
        {% for mutualfund in mutualfunds %}
            <tr>
                <td>{{ mutualfund.customer }}</td>
                <td>{{ mutualfund.symbol }}</td>
                <td>{{ mutualfund.name }}</td>
                <td align="right">{{ mutualfund.shares }}</td>
                <td align="right">{{ mutualfund.purchase_price}}</td>
                <td align="right">{{ mutualfund.initial_mutualfund_value }}</td>
                <td>{{ mutualfund.purchase_date }}</td>
                <td align="right">{{ mutualfund.current_value}}</td>
                <td align="right">{{ mutualfund.results_by_mutualfund }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


